@use "@/app/index.scss" as *;

.products {
  position: relative;
  background: #d4d4d4;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  padding: 70px 60px 125px;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__badge {
    display: inline-block;
    @include text-geist-mono("400-16");
    text-transform: uppercase;
    color: #000000;
    background: #d4d4d4;
    border: 1px solid #bababa;
    padding: 12px 16px;
    letter-spacing: -0.5px;
    margin-bottom: 36px;
  }

  &__title {
    @include text-geist("400-44");
    line-height: 48px;
    letter-spacing: -1.32px;
    color: #000000;
    margin-bottom: 75px;
  }

  &__visual-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 425px;
    height: auto;
    transform: translateX(-50%);
    transition: bottom 0.5s ease;

    .products-card:hover & {
      bottom: 15px;
    }
  }

  &__visual-currencies {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    align-items: flex-end;
    gap: 19px;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    transition: bottom 0.5s ease;

    img {
      width: 251px;
      height: auto;
    }

    .products-card:hover & {
      bottom: 35px;
    }
  }
}

@media (max-width: 1100px) {
  .products {
    padding: 48px 60px 60px;

    &__badge {
      font-size: 12px;
      padding: 6px 12px;
    }

    &__title {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -1px;
      margin: 0 0 32px 0;
    }
  }
}

@media (max-width: 900px) {
  .products {
    padding: 48px 0 60px;

    &__title {
      margin-right: 16px;
    }

    &__content {
      flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      gap: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: 700px) {
  .products {
    &__visual-icon {
      width: 300px;
    }

    &__visual-currencies {
      img {
        width: 160px;
      }
    }
  }
}

@media (max-width: 500px) {
  .products {
    padding: 48px 20px 60px;
  }
}
