@use "@/app/index.scss" as *;

.operators {
  padding: 110px 60px;
  background-color: #e2e2e2;

  &__title {
    @include text-geist("400-44");
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 110%;
    letter-spacing: -1.5px;
    color: #000000;
  }

  &__title-accent {
    display: block;
    font-weight: 500;
    color: #000000;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 261px;
    padding: 28px 20px;
    background-color: #d4d4d4;
    border: 1px solid #bababa;
    color: #000000;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: #1f3114;
      color: #ffffff;

      .operators__card-icon {
        color: #ffffff;
      }
    }
  }

  &__card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__card-icon {
    flex-shrink: 0;
    color: #111827;
    transition: color 0.3s ease;

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__card-title {
    @include text-geist("500-24");
    margin: 0;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: inherit;
  }

  &__card-description {
    @include text-geist("400-16");
    margin: 0;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: inherit;
  }
}

// Tablet
@media (max-width: 1250px) {
  .operators {
    padding: 80px 40px;

    &__title {
      font-size: 36px;
      margin-bottom: 60px;
    }

    &__card {
      min-height: 210px;
      padding: 24px;
    }

    &__card-header {
      margin-bottom: 12px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__card-description {
      font-size: 14px;
    }
  }
}

@media (max-width: 850px) {
  .operators {
    padding: 70px 16px 24px;

    &__title {
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: -0.03em;
      margin-bottom: 40px;
    }

    &__grid {
      grid-template-columns: 1fr;
    }

    &__card {
      height: 298px;
      padding: 30px 20px 25px;
    }

    &__card-header {
      margin-bottom: 16px;
    }

    &__card-title {
      font-size: 24px;
    }

    &__card-description {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
