@use "@/app/index.scss" as *;

.brand-kit-content {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 80px;
  background: #e2e2e2;
  padding: 58px 80px 170px;

  &__nav {
    position: sticky;
    top: 120px;
    width: 160px;
    align-self: flex-start;
    height: fit-content;
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__nav-item {
    display: flex;
  }

  &__nav-btn {
    @include text-geist("400-14");

    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    cursor: pointer;
    color: #383838;
    letter-spacing: -0.3px;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }

    &--active {
      color: #000;

      .brand-kit-content__nav-indicator {
        display: block;
        transition: 0.3s ease;
      }
    }
  }

  &__nav-indicator {
    display: none;
  }

  &__sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__section {
    padding: 48px 0;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  &__section-header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
  }

  &__section-title {
    @include text-geist("400-24");

    letter-spacing: -0.5px;
    line-height: 130%;
    color: #000;
    margin: 0;
  }

  &__section-description {
    @include text-geist("400-16");

    max-width: 730px;
    line-height: 1.55;
    letter-spacing: -0.3px;
    color: #383838;
    margin: 0;

    strong {
      font-weight: 600;
    }
  }

  &__section-content {
    margin-top: 24px;
  }
}

@media (max-width: 1300px) {
  .brand-kit-content {
    grid-template-columns: 200px 1fr;
    padding: 48px 60px 120px;
  }
}

@media (max-width: 1000px) {
  .brand-kit-content {
    grid-template-columns: 1fr;

    &__nav {
      display: none;
    }
  }
}

@media (max-width: 820px) {
  .brand-kit-content {
    padding: 30px 30px 90px;
  }
}

@media (max-width: 500px) {
  .brand-kit-content {
    padding: 22px 20px 90px;

    &__section {
      padding: 30px 0;
    }
  }
}
