@use "@/app/index.scss" as *;

.common-input {
  position: relative;
  margin-bottom: 18px;

  &__label {
    @include text-geist("400-16");

    display: block;
    margin-bottom: 16px;
    line-height: 100%;
    letter-spacing: -2%;
  }

  &__error-slot {
    @include text-geist("400-12");

    position: absolute;
    bottom: -18px;
    left: 0;
    letter-spacing: -2%;
    color: rgb(243, 100, 100);
  }

  &__field {
    @include text-geist("400-16");

    width: 100%;
    padding: 16px;
    height: 56px;
    border-radius: 4px;
    background: #ffffff0a;
    letter-spacing: -2%;
    color: #ffffff;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      background:
        linear-gradient(#121613, #151a17) padding-box,
        linear-gradient(216.99deg, #666666 -6.76%, #000000 116.61%) border-box;
    }

    &::placeholder {
      color: #7e7e7e;
    }
  }
}
