@use "@/app/index.scss" as *;

.brand-fonts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 26px;
    min-height: 368px;
    border: 1px solid #2a2a2a;

    &:not(:last-child) {
      border-right: none;
    }
  }

  &__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-label {
    @include text-geist-mono("400-12");

    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #686868;
  }

  &__item-link {
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
      opacity: 0.7;
    }
  }

  &__item-icon {
    color: #fff;
  }

  &__item-footer {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__item-type {
    @include text-geist("400-12");

    color: #dadada;
    margin-bottom: 10px;
  }

  &__item-weights {
    @include text-geist("400-12");

    color: #707070;
    margin: 0 0 16px;
  }

  &__item-specimen {
    @include text-geist("400-72");

    color: #fff;
    margin: 0;
    line-height: 1;

    &--geist-mono {
      font-family: "Geist Mono", sans-serif;
    }
  }
}

@media (max-width: 1600px) {
  .brand-fonts__item-specimen {
    font-size: 60px;
  }
}

@media (max-width: 1400px) {
  .brand-fonts__item-specimen {
    font-size: 56px;
  }
}

@media (max-width: 1150px) {
  .brand-fonts__item-specimen {
    font-size: 40px;
  }
}

@media (max-width: 820px) {
  .brand-fonts {
    grid-template-columns: 1fr;

    &__item {
      &:not(:last-child) {
        border-right: 1px solid #2a2a2a;
        border-bottom: none;
      }
    }

    &__item-specimen {
      margin-top: 40px;
      font-size: 54px;

      &--geist-mono {
        letter-spacing: -2px;
      }
    }
  }
}

@media (max-width: 450px) {
  .brand-fonts__item-specimen {
    font-size: 45px;
  }
}
