@use "@/app/index.scss" as *;

.psp-usecases {
  position: relative;
  padding: 100px 0 115px 180px;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  overflow: hidden;
  background-color: white;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: #1f3114;
  }
}

@media (max-width: 1200px) {
  .psp-usecases {
    padding: 70px 0px 70px 200px;
  }
}

@media (max-width: 768px) {
  .psp-usecases {
    padding: 40px 0 40px 40px;
  }
}
