name: "Build & Deploy to Prod"

env:
  DOCKER_VERSION: ${{ github.sha }}
  NODE_VERSION: 20.x

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push docker images
        run: make docker ENVIRONMENT=-prod

  deploy:
    needs: build-prod
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to PROD server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.PROD_SERVER_HOST }}
          username: ${{ secrets.PROD_SERVER_USER }}
          key: ${{ secrets.PROD_SERVER_SSH_KEY }}
          script: ${{ secrets.PROD_DEPLOY_SCRIPT }}

